:host {
  display: block;
}

.loader-parent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}

.loading-error {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
  color: rgb(255, 51, 51);
}
