@import "./partials/variables";
@import "./partials/modals/mat-dialog";

* {
  font-family: cursive;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
  }
}

mat-divider {
  margin: 10px 0 !important;
}

.disabled {
  cursor: not-allowed;
}
